<div class="footer">
    <div class="socials">
        <a href="https://www.facebook.com/?locale=pl_PL" class="fa fa-facebook"></a>
        <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
        <a href="https://twitter.com/?lang=pl" class="fa fa-twitter"></a>
    </div>
    <div class="creator">
        ©2025 Created by <span>Natalia Kiełbasa</span> | All rights reserved
    </div>
</div>